{% extends 'catalog/base.html' %}

{% block content %}
    <h3 class="text-center">{{ object.title|capfirst }}</h3>
    <div class="text-center px-5">
        <img style="max-width: 540px;" src="/media/{{ object.preview }}" />
    </div>
    <h6 class="px-5 py-5">{{ object.content }}</h6>
    <p class="px-2">Дата создания: {{ object.date_of_creation }}</p>
    <p class="px-2">Количество просмотров: {{object.views_count }}</p>
    <div class="py-4 text-center">
        <a class="p-2 btn btn-outline-success" href="{% url 'blog:edit_blog' object.pk %}">Редактировать статью</a>
        <a class="p-2 btn btn-outline-danger" href="{% url 'blog:delete_blog' object.pk %}">Удалить статью</a>
    </div>
{% endblock %}