{% extends 'catalog/base.html' %}

{% block content %}
    <div class="col-12">
        <div class="row">
            <div class="col-5 px-5">
                <img style="max-width: 540px;" src="/media/{{ object.image }}" />
            </div>
            <div class="col-5 px-5">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title text-center">
                            {{ object.name|capfirst }}
                        </h3>
                        <h6 class="card-title text-center">
                            {{ object.category|capfirst }}
                        </h6>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tr>
                                <td>Описание:</td>
                                <td>{{ object.description|capfirst }}</td>
                            </tr>
                            <tr>
                                <td>Цена:</td>
                                <td>{{ object.price }} руб</td>
                            </tr>
                            <tr>
                                <td>Дата создания:</td>
                                <td>{{ object.date_of_creation }}</td>
                            </tr>
                            <tr>
                                <td>Дата последнего изменения:</td>
                                <td>{{ object.date_last_modified }}</td>
                            </tr>
                            {% for version in object.version_set.all %}
                                {% if version.is_active %}
                                    <tr>
                                        <td>Актуальная версия:</td>
                                        <td>{{ version.version_number }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            <tr>
                                <td>Автор:</td>
                                <td>{{ object.owner }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-footer">
                        Просмотры {{object.views_count }}<br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-4 text-center">
        {% if user.is_staff or user == object.owner %}
        <a class="p-2 btn btn-outline-success" href="{% url 'catalog:edit_product' object.pk %}">Редактировать товар</a>
        {% endif %}
        {% if user == object.owner %}
        <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:version_create' %}">Создать версию товара</a>
        <a class="p-2 btn btn-outline-danger" href="{% url 'catalog:delete_product' object.pk %}">Удалить товар</a>
        {% endif %}
    </div>
{% endblock %}